html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   background: black;
}

.red-bg {
	background: #DC323C;
	color: white;
}

.round-button {
	border: none;
	border-radius: 99px;
	padding: 10px 15px;
	min-width: 250px;
}

.left-box {
	width: 60%;
	height: 100%;
	background: white;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	text-align: center;
}

.right-box {
	width: 40%;
	height:100%;
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	text-align: center;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.app-icon {
	height: 120px;
    width: 120px;
    margin: 0 auto 10px auto;
    display: block;
}

.main-title {
	font-weight: 300;
	text-align: center;
	font-size: 4em;
	margin-left: auto;
	margin-right: auto;
}

.iphone {
	width: 100%;
	background-image: url(../img/black_iphone_outline.png);
	background-size: cover;
}